# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Sensitive data
secrets.h

# Web App

# compiled output
/monaco-web/dist
/monaco-web/tmp
/monaco-web/out-tsc
# Only exists if Bazel was run
/monaco-web/bazel-out

# dependencies
/monaco-web/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/monaco-web/.sass-cache
/monaco-web/connect.lock
/monaco-web/coverage
/monaco-web/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/monaco-web/typings

# System Files
.DS_Store
Thumbs.db
